body {font-family: 'Playfair Display';}


.contact-header {display: flex;}
.contact-header ul {list-style: none;
display: flex;
margin-left: -20px;
height: 60px;
}
.contact-header li {padding: .5rem;}
.contact-header a {text-decoration: none;
color: black;}
  .contact-header a:hover {color: rgb(23, 177, 177);}

.contact-headertitle {margin-left: 150px;
margin-top: 25px;
font-size: 1.5rem;} 


.contact-body {background-color: rgb(223, 243, 243);
color: rgb(9, 19, 63);
text-align: center;
position: absolute;
width: 100%;}

.contact-body img {padding: 2rem;}

.contact-body h1 {font-weight: bold;
font-size: 2rem;}

.contact-email {color: rgb(23, 177, 177);
font-size: 1.5rem;
padding: 1.5rem;
font-weight: bold;}



.contact-team-emails {margin-top: 45%;
text-align: center;
color: rgb(9, 19, 63);
height: 300px;}
.contact-team-emails div {padding: 1rem;}





@media screen and (max-width: 750px){

.contact-header ul {display: none;}
.contact-header {width: 750px;
padding: 1rem;
margin-bottom: 15px;}

.contact-headertitle {width: 750px;} 

.contact-body {width: 750px;
}
.contact-body p {width: 750px;}

.contact-body img {display: none;}

.contact-team-emails {width: 750px;
margin-top: 350px;}


}