body {font-family: 'Playfair Display';}

.header {display: flex;
margin-left: 20px;}
.header ul {list-style: none;
display: flex;
margin-left: -40px;
height: 60px;
}
.header li {padding: .5rem;}
.header a {text-decoration: none;
color: black;}
  .header a:hover {color: rgb(23, 177, 177);}

.headertitle {margin-left: 150px;
margin-top: 22px;
font-size: 1.5rem;} 




.bodybox {background-image: url('images/marble-background.jpg');
position: absolute;
text-align: center;
height: 700px;
margin: 0;
width: 100%;
}

.bodytext {margin-top: 280px;
text-align: center;
margin-right: 20px;
}
.bodytext h1 {color: white; font-weight: bold;
font-size: 2.5rem;}
.bodytext p {color: white;}

.bodybutton {font-style: italic;
padding: 2rem;
border: solid white 2px;
width: 10%;
align-self: center;
margin-left: 600px;
}
.bodybutton a {text-decoration: none; 
color: white;}
.bodybutton a:hover {color: rgb(23, 177, 177);}





.issuebox {display:flex;
height: 400px;
margin-top: 700px;
text-align: center;
background-color: rgb(223, 243, 243);
width: 100%;
}

.issueinfotext {margin-left: 400px;
margin-top: 25px;}

.issueinfotext h1 {font-style: bold;
font-size: 3rem;
color: rgb(9, 19, 63);}



.iibutton {border: solid white 2px;
font-style: italic;
padding: 2rem;
width: 10%;
align-self: center;
margin-top:5%;
text-align: center;
margin-left: 250px;
}

.iibutton a {text-decoration: none; 
color: white;
font-style: bold;}
.iibutton a:hover {color: rgb(23, 177, 177);}











.hi-header {margin-top: 5%;
text-align: center;
color:  rgb(9, 19, 63);}

.home-involvement {margin-top:5%; 
display: flex;
text-align: center;
align-content: center;
width: 90%;
margin-left: 6%;
color:  rgb(9, 19, 63);
}

.home-resume {text-align: center;
padding: 1rem;}

.home-comm {text-align: center;
padding: 1rem;}

.home-college {text-align: center;
padding: 1rem;}

.involvement-button {text-align: center;
font-style: italic;
border: 2px solid black;
height: 30px;
width: 15%; 
align-self: center;
margin-left: 40.5%;
margin-top: 5%;
padding: 1.5rem;}
.involvement-button a {text-decoration: none;
color: black;
padding: 1rem;
}
.involvement-button a:hover {color: rgb(23, 177, 177);}



.home-contact {text-align: center;
background-color: rgb(223, 243, 243);
margin-top: 5%;
height: 340px;
}

.contact-header {color: rgb(9, 19, 63);
padding: 1.5rem;
font-weight: bold;
font-size: 2rem;}

.contact-email {color: rgb(23, 177, 177);
padding: 1.5rem;
font-weight: bold;}

.home-contact p {font-style: italic;
color: rgb(9, 19, 63);
}
.home-contact a {text-decoration: none;
color: rgb(9, 19, 63);}
.home-contact a:hover {color:rgb(23, 177, 177); }





@media screen and (max-width: 750px){

.header ul {display: none;}
.header {width: 750px;
padding: 1rem;
margin-bottom: 15px;
margin-left: -15px;}


  
.bodybox {width: 750px;}
.bodybutton {margin-left: 310px;}



.issuebox {width: 750px;
height: 475px;
}
.issueinfotext {width: 325px;
text-align: center;
margin-left: 220px;}

.iibutton {margin-left: 90px;
width: 75px;
padding-top: 2rem;
margin-top: 25px;}








.secondbodybox {width: 750px;
margin-left: -10px;
}
.bodybutton2 {width: 100px;}



.hi-header {padding-top: 2.5rem;
margin-left: 5px;
width: 750px;}

.home-involvement {width: 750px;
padding-top: 2rem;
margin-left: -5px;
}

.involvement-button {width: 200px;
margin-left: 250px;}



.home-contact {width: 750px;
}

}